.preview-item {
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
  
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }
  
    .preview-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
  
      .name {
        width: 90%;
        margin-bottom: 15px;
      }
  
      .price {
        width: 10%;
      }
    }

    // .add-button{
    //   position: absolute;
    //   margin-top: 250px;
    //   padding: 0 10px;
    //   background-color: black;
    //   height: 50px;
    //   width: 200px;
    //   color: white;
    //   font-weight: lighter;
    //   opacity: 70%;

    //   &:hover{
    //     opacity: 100%;
    //     cursor: pointer;
    //   }
    // }
  }
  